@import "tailwindcss";
/* 
*{
    outline: 1px solid red;
} */

html, body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  height: 4px;  
  width: 4px;   
}

::-webkit-scrollbar-track {
  background: #1e293b; 
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #14b8a6; 
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #79838258; 
}

* {
  scrollbar-width: thin;
  scrollbar-color: #79838238 #1e293b;
}


@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}


.shimmer::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );
  animation: shimmer 2s infinite;
}
