@import "tailwindcss";
/* 
*{
    outline: 1px solid red;
} */

html, body {
  overflow-x: hidden;
}


/* Scrollbar Styles */
::-webkit-scrollbar {
  height: 4px;  /* For horizontal scrollbar */
  width: 4px;   /* For vertical scrollbar */
}

::-webkit-scrollbar-track {
  background: #1e293b; /* slate-800 */
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #14b8a6; /* teal-500 */
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #79838258; /* teal-400 */
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: #79838238 #1e293b;
}


@keyframes gradient-x {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}
.animate-gradient-x {
  animation: gradient-x 4s ease infinite;
}
